body{
margin: 0; 
min-width: 840px; 
height: 100%;
/*padding-top: 10px; */
background: #fff; 
margin-bottom: 10px
}

.post{
border-radius: 10px;
padding: 10px 10px 10px 10px;
margin-bottom: 10px;
margin-right: 20px;
box-shadow: 1px 2px 5px 1px #222;
text-align: center;
position: relative;
}


.post img{
vertical-align: middle;
}

body .content{
width: 800px;
min-height: 900px;
margin: 0 auto; 
margin-top: 15px;
padding-bottom: 10px;
border-radius: 15px;
font: 13px Arial, sans-serif; 
background-color: #B0E2FF;
position: relative;
}

body .content:after{
content: "";
height: 0;
clear: both;
display: block;
}

.ava{
float: left; 
margin-right: 20px
}


#info{
min-height: 200px;
position: relative;
background-color: #B0E2FF;
}


img.progress{
position: absolute;
top: 0%;
left: 0;
right: 0;
bottom: 0%;
width: 100px;
height: 100px;
margin: auto;
display: none;
}

img.prevpict{
position: absolute;
top: 50%;
left: -2%;
width: 48px;
height: 48px;
margin: 0 auto;
display: none;
}

img.nextpict{
position: absolute;
top: 50%;
right: -2%;
width: 48px;
height: 48px;
margin: auto;
display: none;
}

img.close{
position: absolute;
top: 0%;
right: 0%;
width: 30px;
height: 30px;
margin: auto;
display: none;
}

img.scrollload{
width: 50px;
height: 50px;
margin: 0 auto;
}

img.pict, img.target{
margin: 0 auto;
}

img#target{
margin: 0 auto;
}

img.prevpict:hover, img.nextpict:hover, img.close:hover {
opacity: 1;
}

img.nextpict,img.prevpict, img.close {
opacity: 0.25;
}

img.beforeload{
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0%;
margin: auto;
display: block;
}

img #currentslide{
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0%;
margin: auto;
display: block;
}

.descr{
float: left; 
padding-top: 10px
}


.information{
float: left; 
position: fixed;
margin-top: 15px;
margin-left: 15px;
text-align: center;
width: 128px;
}

.list{
margin-left: 170px;
text-align: center;
}


.details{
width: 500px;
margin: 0 auto;
}

.cropbtn, .original{
float: right;
}

.time{
float: left;
margin-top: 6px;
}

.status{
display: none;
color: green;
text-align: center;
}

#gallery{
margin-top: 3px;
}

.addToGallery, .cropbtn{
margin-top: 2px;
}

.body .content #info{
text-align: center;
}

.modalwindow{
display:none;
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
text-align: center;
margin: auto auto;
width: 100%;
background-color: rgba(0, 0, 0, 0.9);

}

.modalframe{
display:none;
margin: auto auto;
position: fixed;
top: 10%;
left: 0%;
right: 0%;
/*bottom: 50%;*/
width: 640px;
min-height: 200px;
/*height: 540px;*/
background-color: #B0E2FF;
border-radius: 10px;
padding: 10px 10px 10px 10px;
box-shadow: 1px 2px 5px 1px #222;
}






